body {
	background: #DCE0DC;
}

.top {
	text-align: center;
}

.content {
	width: 50%;
	text-align: left;
	margin: auto;
}

@media (max-width: 768px) {
	.content {
		width: 90%;
	}
	.top {
		padding: 0 10px;
	}
}

ul {
	list-style-type: none;
}

.blog ul li::before {
	content: "- ";
}

a {
	color: #7A5600;
	text-decoration: none;
}
