body {
	background: #DCE0DC;
}

.top {
	text-align: center;
}

.content {
	width: 50%;
	text-align: left;
	margin: auto;
}

ul {
	list-style-type: none;
}

a {
	color: #7A5600;
	text-decoration: none;
}
